@using WebMvcMovie.ViewModel
@model DemoViewModel

@{
    ViewData["Title"] = "MakesMarques";
}

<h2>MakesMarques</h2>


<section>        
    <form asp-controller="demo" asp-action="makesmarques" method="post">
        <!-- Marques stuff starts here -->
        <input type="hidden" asp-for="OMDMarquesConcat" id="hfOtherMakesDealerMarquesConcat">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" data-toggle="collapse" data-target="#collapse3"> Other makes dealer
                </label>
                <div class="collapse" id="collapse3">
                    <div class="form-group form-group-sub">
                        <label for="txtMarques">State Marques (e.g. Mazda/Mitsubishi)</label>
                        <div class="input-group">
                            <input id="otherMakesDealerMarques" type="text" class="form-control" placeholder="">
                            <span class="input-group-btn">
                                <button type="button" id="btnOtherMakesDealerMarquesMinus" class="btn btn-default btn-squareicon"><span class="icon-minus"></span>Minus</button>
                            </span>
                        </div>
                        <div class="form-group-sub-pad">
                            <button type="button" id="btnOtherMakesDealerMarquesPlus" class="btn btn-default btn-squareicon"><span class="icon-plus"></span>Add</button>
                        </div>
                        <p>Please enter one marque and select + to add additional marques.</p>
                        <div>
                            <label id="OtherMakesDealerSelectedMarques"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Marques stuff ends here -->
        <button type="submit">Submit</button>
    </form>
</section>


@section Scripts {
    <script>
        $(document).ready(function () {            

            var otherMakesDealerMarques = [];

            $("#btnOtherMakesDealerMarquesPlus").click(function () {
                console.log("Add clicked!");

                var make = $("#otherMakesDealerMarques").val();

                if (make) {
                    otherMakesDealerMarques.push(make);
                    $('#otherMakesDealerMarques').val('');
                }

                $('#OtherMakesDealerSelectedMarques').text('');
                $('#OtherMakesDealerSelectedMarques').append("Selected Marques: " + otherMakesDealerMarques);
                $('#hfOtherMakesDealerMarquesConcat').val(otherMakesDealerMarques);
            });


            $("#btnOtherMakesDealerMarquesMinus").click(function () {
                console.log("Minus clicked!");

                if (otherMakesDealerMarques.length > 0) {
                    otherMakesDealerMarques.pop();
                }

                $('#OtherMakesDealerSelectedMarques').text('');
                $('#OtherMakesDealerSelectedMarques').append("Selected Marques: " + otherMakesDealerMarques);
                $('#hfOtherMakesDealerMarquesConcat').val(otherMakesDealerMarques);
            });
        });


    </script>
}

